<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user auth</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="log">
        <h1>Auth login</h1>
        <% if (user){ %>
            <span>
                <%- user.username %>
            </span>
            <% } %>
                <% if(user){ %>
                    <%- include("./logout.ejs") %>
                        <% } %>
    </div>