<form id="registerForm">
    <input type="text" id="username" placeholder="username..." autocomplete="on" required>
    <span class="error"></span>
    <input type="password" id="password" placeholder="password..." required>
    <span class="error"></span>
    <button>Register</button>
</form>