* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: rgb(89, 115, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.log h1 {
    color: white;
}

#logout {
    width: 90px;
}

#loginForm,
#registerForm {
    background-color: orange;
    border-radius: 10px;
    border: 3px solid white;
    padding: 1rem;
    width: 400px;
    height: 250px;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

input {
    width: 100%;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: teal;
    border: 0;
    box-shadow: 1px 2px 1px gray;
    color: white;
    transition: all .4s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 128, 66);
    transform: scale(1.01);
}

span {
    cursor: pointer;
    color: white;
    font-size: 12px;
    transition: all .4s ease;
}

.error {
    color: red;
    font-style: italic;
    display: none;
    display: flex;
    width: 100%;
    font-style: 16px;
}

span:hover {
    text-decoration: underline;
}

table {
    width: 90%;
    background-color: rgb(158, 74, 74);
    border-radius: 5px;
    color: white;
    border: 1px solid;
    border-collapse: collapse;
}

table td {
    padding: 10px;
}

table tr {
    border: 1px solid;
}

.options {
    display: flex;
    gap: 6px;
}

.options button {
    width: 50px;
    padding: 5px;
}