<%- include("../partials/header.ejs") %>
    <h1> login space</h1>
    <%- include("../partials/login.ejs") %>
        <span id="registerbtn">register</span>

        <%- include("../partials/footer.ejs") %>