<%- include("../partials/header.ejs") %>
    <h1> register space</h1>
    <%- include("../partials/register.ejs") %>
        <span id="loginbtn">login</span>

        <%- include("../partials/footer.ejs") %>